<?xml version="1.0" encoding="UTF-8"?>
 <!-- 
/**
 * @package     sas_default
 * @copyright   Copyright (c) 2015 Sashas IT Support Inc. (http://www.sashas.org)
 * @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
 */
 -->
 <config>
	  <tabs>
		<sashas_modules translate="label" module="sas">
            <label>Sashas Extensions</label>
            <sort_order>10</sort_order>
        </sashas_modules>
	  </tabs>
	  <sections>
	  	<sas translate="label" module="sas">
	  		<label>Theme Settings</label>
	  		<tab>sashas_modules</tab>
	  		<sort_order>0</sort_order>
	  		<show_in_default>1</show_in_default>
	  		<show_in_website>1</show_in_website>
	  		<show_in_store>1</show_in_store>
	  		<groups>
	  			<sas_group translate="label" module="sas">
	  				<label>CSS Framework/Js Plugins Settings</label>
	  				<frontend_type>text</frontend_type>
	  				<sort_order>1000</sort_order>
	  				<show_in_default>1</show_in_default>
	  				<show_in_website>1</show_in_website>
	  				<show_in_store>1</show_in_store>	  			 						  					
	  				<fields>
	  					<css_framework translate="label">
	  						<label>Css Framework: </label>
	  						<comment>CSS Framework to used for theme</comment>
	  						<frontend_type>select</frontend_type>
	  						<source_model>sas/system_config_source_cssFramework</source_model>
	  						<sort_order>10</sort_order>
	  						<show_in_default>1</show_in_default>
	  						<show_in_website>1</show_in_website>
	  						<show_in_store>1</show_in_store>		  						
	  					</css_framework> 	 
	  				</fields>
	  			</sas_group>
	  			<sas_blocks translate="label" module="sas">
	  				<label>Magento Blocks</label>
	  				<frontend_type>text</frontend_type>
	  				<sort_order>2000</sort_order>
	  				<show_in_default>1</show_in_default>
	  				<show_in_website>1</show_in_website>
	  				<show_in_store>1</show_in_store>	  			 						  					
	  				<fields>
	  					<poll_block translate="label">
	  						<label>Hide Right Poll Block: </label>
	  						<comment>Show/Hide Default Right Poll Block</comment>
	  						<frontend_type>select</frontend_type>
	  						<source_model>adminhtml/system_config_source_yesno</source_model>
	  						<sort_order>10</sort_order>
	  						<show_in_default>1</show_in_default>
	  						<show_in_website>1</show_in_website>
	  						<show_in_store>1</show_in_store>		  						
	  					</poll_block> 	 
	  					<recenty_viewed_products translate="label">
	  						<label>Hide Right Recently Viewed Products Block: </label>
	  						<comment>Show/Hide Default Right Recently Viewed Products Block</comment>
	  						<frontend_type>select</frontend_type>
	  						<source_model>adminhtml/system_config_source_yesno</source_model>
	  						<sort_order>20</sort_order>
	  						<show_in_default>1</show_in_default>
	  						<show_in_website>1</show_in_website>
	  						<show_in_store>1</show_in_store>		  						
	  					</recenty_viewed_products> 	  			
	  					<recenty_compared_products translate="label">
	  						<label>Hide Right Recently Compared Products Block: </label>
	  						<comment>Show/Hide Default Right Compared Viewed Products Block</comment>
	  						<frontend_type>select</frontend_type>
	  						<source_model>adminhtml/system_config_source_yesno</source_model>
	  						<sort_order>30</sort_order>
	  						<show_in_default>1</show_in_default>
	  						<show_in_website>1</show_in_website>
	  						<show_in_store>1</show_in_store>		  						
	  					</recenty_compared_products> 	 	  						
	  					<paypal_logo translate="label">
	  						<label>Hide Right Paypal Logo Block: </label>
	  						<comment>Show/Hide Default Right Paypal Logo Block</comment>
	  						<frontend_type>select</frontend_type>
	  						<source_model>adminhtml/system_config_source_yesno</source_model>
	  						<sort_order>40</sort_order>
	  						<show_in_default>1</show_in_default>
	  						<show_in_website>1</show_in_website>
	  						<show_in_store>1</show_in_store>		  						
	  					</paypal_logo> 	 	  						
	  				</fields>
	  			</sas_blocks>	
	  			<sas_layout translate="label" module="sas">
	  				<label>Pages Layout</label>
	  				<frontend_type>text</frontend_type>
	  				<sort_order>3000</sort_order>
	  				<show_in_default>1</show_in_default>
	  				<show_in_website>1</show_in_website>
	  				<show_in_store>1</show_in_store>	  			 						  					
	  				<fields>
	  					<category_layout translate="label">
	  						<label>Category page: </label>
	  						<comment>Please choose default layout of category page</comment>
	  						<frontend_type>select</frontend_type>
	  						<source_model>sas/system_config_source_layouts</source_model>
	  						<sort_order>10</sort_order>
	  						<show_in_default>1</show_in_default>
	  						<show_in_website>1</show_in_website>
	  						<show_in_store>1</show_in_store>		  						
	  					</category_layout> 	 
	  					 
	  				</fields>
	  			</sas_layout>	  			  			
	  		</groups>
	  	</sas>
	  </sections>
</config>