.project
skin/frontend/sas/default/scss/.sass-cache/
app/etc/modules/Cm_RedisSession.xml
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_ConfigurableSwatches.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml

.htaccess
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
api.php
app/.htaccess
app/Mage.php
app/bootstrap.php
app/code/community/
app/code/core/
app/design/frontend/base/
app/design/frontend/default/
app/design/frontend/rwd/
app/design/install/
app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/locale/
cron.php
cron.sh
dev/
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
#js/
lib/
mage
media/
php.ini.sample
shell/
skin/adminhtml/
skin/frontend/base/
skin/frontend/default/
skin/frontend/rwd/
skin/install/
var/cache/*
var/package/*
var/session/*
var/.htaccess
var/resource_config.json

#Adminhtml Template
app/design/adminhtml/default/default/etc/
app/design/adminhtml/default/default/layout/admin.xml
app/design/adminhtml/default/default/layout/adminnotification.xml
app/design/adminhtml/default/default/layout/api2.xml
app/design/adminhtml/default/default/layout/authorizenet.xml
app/design/adminhtml/default/default/layout/bundle.xml
app/design/adminhtml/default/default/layout/captcha.xml
app/design/adminhtml/default/default/layout/catalog.xml
app/design/adminhtml/default/default/layout/centinel.xml
app/design/adminhtml/default/default/layout/cms.xml
app/design/adminhtml/default/default/layout/compiler.xml
app/design/adminhtml/default/default/layout/connect.xml
app/design/adminhtml/default/default/layout/currencysymbol.xml
app/design/adminhtml/default/default/layout/customer.xml
app/design/adminhtml/default/default/layout/dataflow.xml
app/design/adminhtml/default/default/layout/downloadable.xml
app/design/adminhtml/default/default/layout/giftmessage.xml
app/design/adminhtml/default/default/layout/importexport.xml
app/design/adminhtml/default/default/layout/index.xml
app/design/adminhtml/default/default/layout/main.xml
app/design/adminhtml/default/default/layout/moneybookers.xml
app/design/adminhtml/default/default/layout/newsletter.xml
app/design/adminhtml/default/default/layout/oauth.xml
app/design/adminhtml/default/default/layout/pagecache.xml
app/design/adminhtml/default/default/layout/promo.xml
app/design/adminhtml/default/default/layout/report.xml
app/design/adminhtml/default/default/layout/rss.xml
app/design/adminhtml/default/default/layout/sales.xml
app/design/adminhtml/default/default/layout/search.xml
app/design/adminhtml/default/default/layout/tag.xml
app/design/adminhtml/default/default/layout/tax.xml
app/design/adminhtml/default/default/layout/widget.xml
app/design/adminhtml/default/default/layout/xmlconnect.xml
app/design/adminhtml/default/default/locale/
app/design/adminhtml/default/default/template/

