<?xml version="1.0"?>
 <!-- 
/**
 * @author		Sashas
 * @category    Sashas
 * @package     Sashas_Slideshow
 * @copyright   Copyright (c) 2015 Sashas IT Support Inc. (http://www.sashas.org)
 * @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)
 */
 -->
<config>
	<modules>
		<Sashas_Slideshow>
			<version>1.0.2</version>
		</Sashas_Slideshow>
	</modules>
	<global>
		<helpers>
			<slideshow>
				<class>Sashas_Slideshow_Helper</class>
			</slideshow>
		</helpers>
		<blocks>
			<slideshow>
				<class>Sashas_Slideshow_Block</class>
			</slideshow> 
		</blocks> 
		<models>
			<slideshow>
				<class>Sashas_Slideshow_Model</class>
				<resourceModel>slideshow_resource</resourceModel>			
			</slideshow>
			<slideshow_resource>
                <class>Sashas_Slideshow_Model_Resource</class>
                <entities>
                    <slideshows>
                        <table>slideshow_slideshows</table>
                    </slideshows> 
                    <slides>
                    	 <table>slideshow_slides</table>
                    </slides>            
                    <slideshows_slide>
                    	 <table>slideshow_slideshows_slide</table>
                    </slideshows_slide>                             
                </entities>
            </slideshow_resource>			 
		</models>    		
		<resources>
			<slideshow_setup>
				<setup>
					<module>Sashas_Slideshow</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</slideshow_setup>
			<slideshow_write>
				<connection>
					<use>core_write</use>
				</connection>
			</slideshow_write>
			<slideshow_read>
				<connection>
					<use>core_read</use>
				</connection>
			</slideshow_read>
		</resources> 	
	</global>
    <admin>
        <routers>
            <adminhtml>                 
                <args>
                    <modules> 
                    	<Sashas_Slideshow before="Mage_Adminhtml">Sashas_Slideshow</Sashas_Slideshow>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    	
    <adminhtml>
	  	<layout>
	  		<updates>
	  			<slideshow>
	  				<file>slideshow.xml</file>
	  			</slideshow>
	  		</updates>
	  	</layout>	    	
    </adminhtml>
    <frontend>   
        <layout>
            <updates>
                <slideshow>
                    <file>slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>              
    </frontend>	     
  	<default>
        <slideshow>
        	<slideshow_group>        		 
        		<include_jquery><![CDATA[1]]></include_jquery>              		            		         
        	</slideshow_group>   
        	<slideshows_group>        		 
        		<jssor><![CDATA[0]]></jssor> 
        		<bxslider><![CDATA[1]]></bxslider>             		      		         
        	</slideshows_group>           	        	      
        </slideshow>  		
    </default>	   
</config>
